<div class="section breadcumb-section" *ngIf="product">
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li>
        <a
          [routerLink]="[
            '/category',
            product.category.cat_id,
            product.category.url
          ]"
          >{{ product.category.name }}</a
        >
      </li>
      <li class="is-active">
        <a [routerLink]="['/', product.id, product.url]">{{ product.name }}</a>
      </li>
    </ul>
  </nav>
</div>

<section class="section product-section" *ngIf="product">
  <div class="container" *ngIf="product">
    <div class="columns">
      <div class="column">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img [src]="selectedImage" [alt]="product.name" />
            </figure>
          </div>
          <div class="card-content product-image-preview">
            <div class="content">
              <div class="columns is-multiline is-mobile product-images">
                <div class="column is-2" *ngFor="let image of product.images">
                  <div class="card clickable" (click)="selectImage(image)">
                    <div class="card-image">
                      <figure class="image litle-image is-square">
                        <img [src]="image" [alt]="product.name" />
                      </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h1 class="title">{{ product.name }}</h1>
          <p>
            <strong>Condition</strong>: {{ product.condition }}<br />
            <strong>Stock</strong>: {{ product.stock }}<br />
            <strong>Category</strong>: {{ product.category.name }}<br />
          </p>

          <h2>Description</h2>
          <div [innerHtml]="product.description"></div>

          <br />
          <div class="columns">
            <div class="column is-6">
              <button
                class="button is-fullwidth"
                aria-haspopup="true"
                aria-controls="dropdown-menu2"
                (click)="addToCart(product)"
              >
                <span>Add to Cart</span>
                <span class="icon">
                  <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                </span>
              </button>
            </div>
            <div class="column is-6">
              <button
                class="button is-fullwidth"
                aria-haspopup="true"
                aria-controls="dropdown-menu2"
              >
                <span>Save to Wishlist</span>
                <span class="icon">
                  <i class="fas fa-heart" aria-hidden="true"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container full-height" *ngIf="isLoading">
  <div
    class="is-flex is-align-items-center is-justify-content-center full-height">
  <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
  </div>
</div>
